# .pre-commit-config.yaml

default_stages: [commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
      name: Trim trailing whitespace
      description: This hook trims trailing whitespace
      entry: trailing-whitespace-fixer
      language: python
      types:
        - "text"

# isort
- repo: https://github.com/asottile/seed-isort-config
  rev: v2.2.0
  hooks:
    - id: seed-isort-config

# black
- repo: https://github.com/ambv/black
  rev: 22.10.0
  hooks:
    - id: black
      args:
        - --line-length=88
        - --include='\.pyi?$'
        - --exclude="""\.git |
          \.__pycache__|
          \.hg|
          \.mypy_cache|
          \.tox|
          \.venv|
          _build|
          buck-out|
          build|
          dist"""
      language_version: python3.10

# flake8
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: flake8
      args:
        - "--max-line-length=88"
        - "--max-complexity=18"
        - "--select=B,C,E,F,W,T4,B9"
        - "--ignore=E203,E266,E501,W503,F405,E402"
